PORT=5001
DOWNLOAD_DIR=storage/downloads
CANVA_EXPORT_TIMEOUT_MS=1200000 # 1200 seconds
CANVA_EXPORT_RATE_LIMIT=10
CANVA_EXPORT_RATE_LIMIT_WINDOW_MS=60000
CANVA_EXPORT_GET_CACHE_ENABLED=true
CANVA_EXPORT_GET_CACHE_TTL_MS=600000
CANVA_EXPORT_BLOB_CACHE_ACCESS=private
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
PUPPETEER_HEADLESS=false # Set to true to run puppeteer in headless mode. Set to false to run puppeteer in non-headless mode (useful for debugging).
